<h1>Add a new Place</h1>

<form method="POST">

<label for="input-name">Name of the place you want to add</label>
<input id="input-name" type="text" name="name" placeholder="Name" required>

<label for="input-type">Coffee Shop or Book Store?</label>
<select name="type" id="input-type" required>
    <option value="coffee_shop">Coffee Shop</option>
    <option value="bookstore">Book Store</option>
</select>
<br>
<button>Add a new place</button>
</form>